<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="www.lzqcode.com" />
    <meta name="robots" content="all" />
    <title>日记</title>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../layui/css/layui.css" />
    <link rel="stylesheet" href="../css/master.css" />
    <link rel="stylesheet" href="../css/gloable.css" />
    <link rel="stylesheet" href="../css/nprogress.css" />
    <link rel="stylesheet" href="../css/timeline.css" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--    <style>-->
<!--    div{position:absolute;100%}-->
<!--    button{position:relative;right: 20px}-->
<!--    </style>-->
</head>
<body>
    <div class="header">
    </div>
    <header class="gird-header" style="box-shadow:0px 0px 5px #A8A8A8">
        <div class="header-fixed">
            <div class="header-inner">
                <a href="javascript:void(0)" class="header-logo" id="logo" th:text="${username}"></a>
                <nav class="nav" id="nav">
                    <ul>
                        <li><a href="/blog/home">首页</a></li>
                        <li><a href="/blog/article_page">博客</a></li>
                        <!--<li><a href="message.html">留言</a></li>-->
						<!--<li><a href="diary.html">日记</a></li>-->
                        <li><a href="/blog/write">编写</a></li>
                    </ul>
                </nav>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>
    <div class="doc-container" id="doc-container">
        <div style="width:100%;height:50px;background-color:white;padding:8px">
        <button class="btn btn-success" style="float:right;margin-left:10px"type=button  onclick="sendarticle()">提交</button>
        <button class="btn btn-success" style="float:right;margin-left:10px" type=button onclick="">预览</button>
            <div class="blog-user"style="float:right;line-height:1px;position:relative">
                <select id="type">
                    <option value="1">java</option>
                    <option value="2">python</option>
                    <option value="3">javascript</option>
                </select>
            </div>
        </div>
         <!--<div class="container-fixed">-->
            <!--<div class="timeline-box shadow">-->
                <!--<div class="timeline-main">-->
                    <!--<h1><i class="fa fa-clock-o"></i>日记</h1>-->
                    <!--<div class="timeline-line"></div>-->
                        <!--<div class="timeline-year">-->
                            <!--<h2><a class="yearToggle">2020 年</a><i class="fa fa-caret-down fa-fw"></i></h2>-->
        <div class="timeline-month" id="div1">

        </div>
        <!--</div>-->
        <!--<h1 style="padding-top:4px;padding-bottom:2px;margin-top:40px;"><i class="fa fa-hourglass-end"></i>THE END</h1>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <footer class="grid-footer">
        <div class="footer-fixed">
            <div class="copyright">
                <div class="info">
                    <div class="contact">
                        <a href="javascript:void(0)" class="github" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="#" class="qq" target="_blank" ><i class="fa fa-qq"></i></a>
                        <a href="#" class="email" target="_blank" ><i class="fa fa-envelope"></i></a>
                        <a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
                    </div>
                    <p class="mt05">
                        Copyright &copy; 2019-2020 ZQ博客 All Rights Reserved V.3.1.3 Power by ZQ博客
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../layui/layui.js"></script>
    <script src="../js/yss/gloable.js"></script>
    <script src="../js/plugins/nprogress.js"></script>
    <script>NProgress.start();</script>
    <script src="../js/pagediary.js"></script>
    <script> 
        window.onload = function () {
            NProgress.done();
        };
    </script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/wangeditor/dist/wangEditor.min.js"></script>
    <script type="text/javascript" src="../js/auth.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#div1')
        // 设置编辑区域高度为 500px
        editor.config.height = 600
        // 或者 const editor = new E( document.getElementById('div1') )
        editor.create()
    </script>

</body>
</html>
